#root {
  font-family: "Helvetica";
}

.title {
  font-weight: lighter;
}


/* Color Pallet */
.color-primary-0 { color: #2D882D  }  /* Main Primary color */
.color-primary-1 { color: #8ACD8A  }
.color-primary-2 { color: #56AB56  }
.color-primary-3 { color: #116511  }
.color-primary-4 { color: #004300  }

.green {
  color: #8ACD8A;
  background: #2D882D;
}
